.grid {

  background: white;
  line-height: .6;
  margin: 0 auto;

  .grid-cell {
    box-sizing: border-box;
    display: inline-block;
    min-width: .75em;
    min-height: .75em;
    border: .05px solid lightgray;

  }

  .on {
    background: darken(#1779BA, 15%);
  }
}
