body {
  background: darkgray;
  font-family: 'Lato', sans-serif;
}

// .container {
//   width: 90%;
// }

// .app {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.top-bar {
  color: white;
  font-size: 1.3rem;
  background: black;
  margin-bottom: 2rem;
  padding-top: 10px;

  .top-bar-left {

  }

  .top-bar-right {

  }
}
